@charset "UTF-8";
/*contact*/
.contact__contents {
  margin-top: 50px;
}
@media screen and (min-width: 768px) and (max-width: 1023.9px) {
  .contact__contents {
    margin-top: 40px;
  }
}
@media screen and (max-width: 767.9px) {
  .contact__contents {
    margin-top: 30px;
  }
}

.contact__text {
  display: block;
  text-align: center;
}
@media screen and (max-width: 767.9px) {
  .contact__text {
    font-size: 14px;
    text-align: left;
  }
}

.contact__form {
  width: 620px;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  padding: 30px 80px 50px;
  background-color: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 10, 10, 0.3);
}
@media screen and (min-width: 768px) and (max-width: 1023.9px) {
  .contact__form {
    width: calc(100% - 80px);
    margin-top: 40px;
    padding: 30px 40px;
  }
}
@media screen and (max-width: 767.9px) {
  .contact__form {
    width: calc(100% - 20px);
    margin-top: clamp(1.25rem, 0.357rem + 4.47vw, 2.5rem);
    padding: 20px 10px;
  }
}

.contact-form {
  position: relative;
}

.contact-form__row {
  display: flex;
  width: 100%;
}
.contact-form__row:not(:first-child) {
  margin-top: 25px;
}
@media screen and (min-width: 768px) and (max-width: 1023.9px) {
  .contact-form__row {
    width: 100%;
  }
  .contact-form__row:not(:first-child) {
    margin-top: 20px;
  }
}
@media screen and (max-width: 767.9px) {
  .contact-form__row {
    display: block;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
  .contact-form__row:not(:first-child) {
    margin-top: 20px;
  }
}

.contact-form__label {
  width: 210px;
  padding-top: 13px;
}
.contact-form__label label {
  font-size: 16px;
}
.contact-form__label label.is-required {
  display: inline-block;
  position: relative;
}
.contact-form__label label.is-required::after {
  content: "必須";
  position: absolute;
  top: 50%;
  right: -25px;
  transform: translateY(-50%);
  width: 20px;
  height: 12px;
  color: red;
  font-size: 10px;
  font-weight: 700;
  text-align: center;
}
@media screen and (min-width: 768px) and (max-width: 1023.9px) {
  .contact-form__label {
    width: 194px;
    padding-top: 3px;
  }
  .contact-form__label label {
    font-size: 16px;
  }
  .contact-form__label label::after {
    right: -12px;
    width: 8px;
    font-size: 14px;
  }
}
@media screen and (max-width: 767.9px) {
  .contact-form__label {
    width: 100%;
    padding-top: 0;
  }
  .contact-form__label label {
    font-size: 16px;
  }
  .contact-form__label label.is-required {
    display: inline-block;
    position: relative;
  }
}

.contact-form__input {
  width: 350px;
}
.contact-form__input [type=text],
.contact-form__input [type=email],
.contact-form__input [type=tel] {
  width: 350px;
  padding: 13px 25px;
  border: solid 1px #bcbcbc;
  -webkit-appearance: 0;
     -moz-appearance: 0;
          appearance: 0;
  color: #a4a4a4;
  font-size: 16px;
}
@media screen and (min-width: 768px) and (max-width: 1023.9px) {
  .contact-form__input {
    width: calc(100% - 194px);
  }
  .contact-form__input [type=text],
  .contact-form__input [type=email],
  .contact-form__input [type=tel] {
    width: calc(100% - 50px);
    padding: 13px 25px;
    -webkit-appearance: 0;
       -moz-appearance: 0;
            appearance: 0;
    color: #808080;
    font-size: 16px;
  }
}
@media screen and (max-width: 767.9px) {
  .contact-form__input {
    width: 100%;
  }
  .contact-form__input [type=text],
  .contact-form__input [type=email],
  .contact-form__input [type=tel] {
    width: calc(100% - 20px);
    height: calc(100% - 26px);
    margin-top: 10px;
    padding: 13px 10px;
    -webkit-appearance: 0;
       -moz-appearance: 0;
            appearance: 0;
    color: #808080;
    font-size: 14px;
  }
}

.contact-form__input-textarea {
  width: 350px;
}
@media screen and (min-width: 768px) and (max-width: 1023.9px) {
  .contact-form__input-textarea {
    width: calc(100% - 194px);
  }
}
@media screen and (max-width: 767.9px) {
  .contact-form__input-textarea {
    width: 100%;
  }
}

.contact-form-select {
  position: relative;
  width: 250px;
}
.contact-form-select::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  background-image: url(../img/矢印アイコン　下4.png);
  background-size: contain;
  background-repeat: no-repeat;
}
@media screen and (max-width: 767.9px) {
  .contact-form-select {
    margin-top: 10px;
    margin-left: 0;
  }
}

select {
  position: relative;
  width: 250px;
  height: 45px;
  padding-left: 25px;
  border: solid 1px #bcbcbc;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-size: 16px;
  color: #a4a4a4;
}
select::-ms-expand {
  display: none;
}
@media screen and (min-width: 768px) and (max-width: 1023.9px) {
  select {
    display: inline-block;
    height: auto;
    padding: 5px;
  }
}
@media screen and (max-width: 767.9px) {
  select {
    display: inline-block;
    margin-left: 0;
    height: auto;
    padding: 10px 5px;
  }
}

textarea {
  width: 100%;
  height: 150px;
  margin-left: auto;
  resize: none;
  padding: 13px 25px;
  -webkit-appearance: 0;
     -moz-appearance: 0;
          appearance: 0;
  border: solid 1px #bcbcbc;
  color: #a4a4a4;
  font-size: 14px;
}
@media screen and (min-width: 768px) and (max-width: 1023.9px) {
  textarea {
    width: calc(100% - 50px);
    margin-top: 10px;
  }
}
@media screen and (max-width: 767.9px) {
  textarea {
    width: calc(100% - 20px);
    margin-top: 10px;
    padding: 13px 10px;
  }
}

.contact__btn {
  margin-top: 50px;
  text-align: center;
}
.contact__btn [type=submit] {
  display: inline-block;
  padding: 15px 40px;
  background-color: #0870C7;
  border: 2px solid #0870C7;
  border-radius: 50px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  transition: all 0.3s;
  cursor: pointer;
}
.contact__btn [type=submit]:hover {
  background-color: #fff;
  color: #0870C7;
}
@media screen and (min-width: 768px) and (max-width: 1023.9px) {
  .contact__btn {
    margin-top: 30px;
  }
}
@media screen and (max-width: 767.9px) {
  .contact__btn {
    margin-top: 30px;
  }
  .contact__btn [type=submit] {
    padding: clamp(0.625rem, 0.402rem + 1.12vw, 0.938rem) 30px;
    font-size: clamp(0.75rem, 0.571rem + 0.89vw, 1rem);
  }
}