@charset "UTF-8";
/*interviews*/
.interviews__contents {
  width: 100%;
  margin-top: 50px;
}
@media screen and (max-width: 767.9px) {
  .interviews__contents {
    margin-top: 20px;
  }
}

.interviews-items {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
@media screen and (max-width: 767.9px) {
  .interviews-items {
    display: block;
  }
}

.interviews-item {
  width: calc((100% - 60px) / 3);
  padding-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 10px 10px -6px rgba(0, 0, 0, 0.3);
  background-color: #FFFFFF;
}
@media screen and (min-width: 768px) and (max-width: 1023.9px) {
  .interviews-item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (max-width: 767.9px) {
  .interviews-item {
    width: 100%;
  }
  .interviews-item:not(:first-child) {
    margin-top: 20px;
  }
}

.interviews-item__image {
  width: 100%;
  height: 300px;
  border-radius: 8px;
  overflow: hidden;
}
.interviews-item__image img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 768px) and (max-width: 1023.9px) {
  .interviews-item__image {
    height: clamp(12.25rem, -7.258rem + 40.64vw, 18.75rem);
  }
}
@media screen and (max-width: 767.9px) {
  .interviews-item__image {
    height: 200px;
  }
}

.interviews-item__message {
  margin-top: 30px;
  margin-right: 15px;
  margin-left: 15px;
}

.interviews-item__title {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  /* 任意の行数を指定 */
  color: #333;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 700;
}
@media screen and (max-width: 767.9px) {
  .interviews-item__title {
    font-size: clamp(1rem, 0.821rem + 0.89vw, 1.25rem);
  }
}

.interviews-item__name {
  margin-top: 30px;
  color: #333;
}
@media screen and (max-width: 767.9px) {
  .interviews-item__name {
    margin-top: clamp(1.563rem, 1.339rem + 1.12vw, 1.875rem);
  }
}

.name {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 700;
}
@media screen and (max-width: 767.9px) {
  .name {
    font-size: clamp(1rem, 0.821rem + 0.89vw, 1.25rem);
  }
}

.position {
  margin-top: 5px;
  color: #0870C7;
  font-weight: bold;
}

.interviews__num {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
@media screen and (min-width: 768px) and (max-width: 1023.9px) {
  .interviews__num {
    margin-top: 30px;
  }
}
@media screen and (max-width: 767.9px) {
  .interviews__num {
    margin-top: 30px;
  }
}

.interviews-num__item {
  display: block;
  height: 50px;
}
.interviews-num__item:not(:first-child) {
  margin-left: 20px;
}
.interviews-num__item a {
  position: relative;
  display: block;
  text-align: center;
  color: #333;
  font-size: 32px;
  text-align: center;
  transition: all 0.3s;
}
.interviews-num__item a:hover {
  color: #0870C7;
}
@media screen and (min-width: 768px) and (max-width: 1023.9px) {
  .interviews-num__item {
    height: 33px;
  }
  .interviews-num__item a {
    width: 30px;
    height: 30px;
    font-size: 28px;
  }
}
@media screen and (max-width: 767.9px) {
  .interviews-num__item:not(:first-child) {
    margin-left: 15px;
  }
  .interviews-num__item a {
    width: 20px;
    height: 20px;
    font-size: 20px;
  }
}

.interviews-num__item-arrow {
  height: 50px;
  margin-top: 2px;
}
.interviews-num__item-arrow:last-child {
  margin-left: 20px;
}
.interviews-num__item-arrow a {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 50px;
  opacity: 0.8;
  text-align: center;
}
.interviews-num__item-arrow a img {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 768px) and (max-width: 1023.9px) {
  .interviews-num__item-arrow {
    width: 33px;
    margin-top: 6px;
  }
  .interviews-num__item-arrow a {
    width: 25px;
    height: 33px;
  }
  .interviews-num__item-arrow a img {
    width: 25px;
    height: 25px;
  }
}
@media screen and (max-width: 767.9px) {
  .interviews-num__item-arrow {
    margin-top: 6px;
  }
  .interviews-num__item-arrow a {
    width: 20px;
    height: 20px;
  }
  .interviews-num__item-arrow a img {
    width: 20px;
    height: 20px;
  }
}