/*news*/
.news__items {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
@media screen and (max-width: 767.9px) {
  .news__items {
    display: block;
  }
}

.news__item {
  width: calc((100% - 60px) / 3);
  border-radius: 8px;
  box-shadow: 0 10px 10px -6px rgba(0, 0, 0, 0.3);
  background-color: #FFFFFF;
}
@media screen and (min-width: 768px) and (max-width: 1023.9px) {
  .news__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (max-width: 767.9px) {
  .news__item {
    width: 100%;
  }
  .news__item:not(:first-child) {
    margin-top: 20px;
  }
}

.news-item__image {
  width: 100%;
  height: 200px;
  border-radius: 8px;
}
.news-item__image img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 767.9px) {
  .news-item__image {
    aspect-ratio: 29/15;
  }
}

.news-item__contents {
  padding: 15px 10px;
}
@media screen and (min-width: 768px) and (max-width: 1023.9px) {
  .news-item__contents {
    padding: 15px;
  }
}
@media screen and (max-width: 767.9px) {
  .news-item__contents {
    padding: 10px;
  }
}

.news-item__date {
  display: inline-block;
  color: #333;
  font-size: 14px;
  line-height: 1;
}
@media screen and (min-width: 768px) and (max-width: 1023.9px) {
  .news-item__date {
    font-size: clamp(0.75rem, 0.375rem + 0.78vw, 0.875rem);
  }
}
@media screen and (max-width: 767.9px) {
  .news-item__date {
    font-size: 12px;
  }
}

.news-item__title {
  margin-top: 15px;
  color: #333;
  font-size: 20px;
  font-weight: 700;
}
@media screen and (min-width: 768px) and (max-width: 1023.9px) {
  .news-item__title {
    font-size: clamp(1rem, 0.25rem + 1.56vw, 1.25rem);
  }
}
@media screen and (max-width: 767.9px) {
  .news-item__title {
    margin-top: 10px;
    font-size: 16px;
  }
}

.news__btn {
  margin-top: 60px;
}
@media screen and (min-width: 768px) and (max-width: 1023.9px) {
  .news__btn {
    margin-top: clamp(1.875rem, -3.752rem + 11.72vw, 3.75rem);
  }
}

.news__num {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
@media screen and (min-width: 768px) and (max-width: 1023.9px) {
  .news__num {
    margin-top: 40px;
  }
}
@media screen and (max-width: 767.9px) {
  .news__num {
    margin-top: 30px;
  }
}

.news-num__item {
  display: block;
  height: 50px;
}
.news-num__item:not(:first-child) {
  margin-left: 20px;
}
.news-num__item a {
  position: relative;
  display: block;
  text-align: center;
  color: #333;
  font-size: 32px;
  text-align: center;
  transition: all 0.3s;
}
.news-num__item a:hover {
  color: #0870C7;
}
@media screen and (min-width: 768px) and (max-width: 1023.9px) {
  .news-num__item {
    height: 33px;
  }
  .news-num__item a {
    width: 30px;
    height: 30px;
    font-size: 24px;
  }
}
@media screen and (max-width: 767.9px) {
  .news-num__item:not(:first-child) {
    margin-left: 15px;
  }
  .news-num__item a {
    width: 20px;
    height: 20px;
    font-size: 16px;
  }
}

.news-num__item-arrow {
  height: 50px;
  margin-top: 2px;
}
.news-num__item-arrow:last-child {
  margin-left: 20px;
}
.news-num__item-arrow a {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 50px;
  opacity: 0.8;
  text-align: center;
}
.news-num__item-arrow a img {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 768px) and (max-width: 1023.9px) {
  .news-num__item-arrow {
    height: 33px;
    margin-top: 3px;
  }
  .news-num__item-arrow a {
    width: 25px;
    height: 33px;
  }
  .news-num__item-arrow a img {
    width: 25px;
    height: 25px;
  }
}
@media screen and (max-width: 767.9px) {
  .news-num__item-arrow {
    height: 20px;
    margin-top: 3px;
  }
  .news-num__item-arrow a {
    width: 20px;
    height: 20px;
  }
  .news-num__item-arrow a img {
    width: 20px;
    height: 20px;
  }
}