/*works*/
.works__items {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
@media screen and (max-width: 767.9px) {
  .works__items {
    display: block;
  }
}

.works__item {
  width: calc((100% - 60px) / 3);
  border-radius: 8px;
  box-shadow: 0 10px 10px -6px rgba(0, 0, 0, 0.3);
  background-color: #FFFFFF;
}
@media screen and (min-width: 768px) and (max-width: 1023.9px) {
  .works__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (max-width: 767.9px) {
  .works__item {
    width: 100%;
  }
  .works__item:not(:first-child) {
    margin-top: 20px;
  }
}

.works-item__image {
  width: 100%;
  height: 200px;
  border-radius: 8px;
}
.works-item__image img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 767.9px) {
  .works-item__image {
    aspect-ratio: 29/15;
  }
}

.works-item__contents {
  padding: 15px 10px;
}
@media screen and (min-width: 768px) and (max-width: 1023.9px) {
  .works-item__contents {
    padding: 15px;
  }
}
@media screen and (max-width: 767.9px) {
  .works-item__contents {
    padding: 10px;
  }
}

.works-item__tag {
  display: inline-block;
  padding: 6px 10px;
  background-color: #0870C7;
  border-radius: 8px;
  color: #fff;
  font-size: 14px;
  line-height: 1;
}
@media screen and (min-width: 768px) and (max-width: 1023.9px) {
  .works-item__tag {
    padding: clamp(0.313rem, 0.125rem + 0.39vw, 0.375rem) clamp(0.5rem, 0.125rem + 0.78vw, 0.625rem);
    font-size: clamp(0.75rem, 0.375rem + 0.78vw, 0.875rem);
  }
}
@media screen and (max-width: 767.9px) {
  .works-item__tag {
    font-size: 12px;
  }
}

.works-item__title {
  margin-top: 10px;
  color: #333;
  font-size: 20px;
  font-weight: 700;
}
@media screen and (min-width: 768px) and (max-width: 1023.9px) {
  .works-item__title {
    font-size: clamp(1rem, 0.25rem + 1.56vw, 1.25rem);
  }
}
@media screen and (max-width: 767.9px) {
  .works-item__title {
    font-size: 16px;
  }
}

.works__btn {
  margin-top: 60px;
}
@media screen and (min-width: 768px) and (max-width: 1023.9px) {
  .works__btn {
    margin-top: clamp(1.875rem, -3.752rem + 11.72vw, 3.75rem);
  }
}

.works__num {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
@media screen and (min-width: 768px) and (max-width: 1023.9px) {
  .works__num {
    margin-top: 30px;
  }
}
@media screen and (max-width: 767.9px) {
  .works__num {
    margin-top: 30px;
  }
}

.works-num__item {
  display: block;
  height: 50px;
}
.works-num__item:not(:first-child) {
  margin-left: 20px;
}
.works-num__item a {
  position: relative;
  display: block;
  text-align: center;
  color: #333;
  font-size: 32px;
  text-align: center;
  transition: all 0.3s;
}
.works-num__item a:hover {
  color: #0870C7;
}
@media screen and (min-width: 768px) and (max-width: 1023.9px) {
  .works-num__item {
    height: 33px;
  }
  .works-num__item a {
    width: 30px;
    height: 30px;
    font-size: 28px;
  }
}
@media screen and (max-width: 767.9px) {
  .works-num__item:not(:first-child) {
    margin-left: 15px;
  }
  .works-num__item a {
    width: 20px;
    height: 20px;
    font-size: 20px;
  }
}

.works-num__item-arrow {
  height: 50px;
  margin-top: 2px;
}
.works-num__item-arrow:last-child {
  margin-left: 20px;
}
.works-num__item-arrow a {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 50px;
  opacity: 0.8;
  text-align: center;
}
.works-num__item-arrow a img {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 768px) and (max-width: 1023.9px) {
  .works-num__item-arrow {
    width: 33px;
    margin-top: 6px;
  }
  .works-num__item-arrow a {
    width: 25px;
    height: 33px;
  }
  .works-num__item-arrow a img {
    width: 25px;
    height: 25px;
  }
}
@media screen and (max-width: 767.9px) {
  .works-num__item-arrow {
    margin-top: 6px;
  }
  .works-num__item-arrow a {
    width: 20px;
    height: 20px;
  }
  .works-num__item-arrow a img {
    width: 20px;
    height: 20px;
  }
}