@use "color";
@use "breakpoints";

$font-jp: "Noto Sans JP", sans-serif;
$font-en: "Roboto", sans-serif;
$font-logo: "Josefin Sans", sans-serif;

$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;

.sp-only {
    display: none;

    @include breakpoints.mq(tb) {
        display: none;
    }

    @include breakpoints.mq(sp) {
        display: block;
    }
}
.sp-none {
    display: block;

    @include breakpoints.mq(tb) {
        display: block;
    }

    @include breakpoints.mq(sp) {
        display: none;
    }
}

/*about*/
.about {
    padding-top: clamp(2.188rem, -0.12rem + 3.61vw, 3.125rem);

    @include breakpoints.mq(tb) {
        padding-top: 35px;
    }

    @include breakpoints.mq(sp) {
        padding-top: clamp(1.875rem, 1.652rem + 1.12vw, 2.188rem);
    }
}
.about-wrap {
    margin-right: auto;
    margin-left: auto;

    @include breakpoints.mq(tb) {
    }

    @include breakpoints.mq(sp) {

    }
}
.about-title {

}
.about__contents {
    display: flex;
    width: 100%;
    margin-top: clamp(1.875rem, -2.74rem + 7.21vw, 3.75rem);
    margin-right: auto;
    margin-left: auto;

    @include breakpoints.mq(tb) {
        justify-content: space-between;
        margin-top: 50px;
    }

    @include breakpoints.mq(sp) {
        display: block;
        width: 100%;
        margin-top: clamp(1.25rem, -0.09rem + 6.7vw, 3.125rem);
    }
}
.about__left {
    width: calc(350 / 1024 * 100%);

    @include breakpoints.mq(tb) {
        width: calc(40% - 10px);
    }

    @include breakpoints.mq(sp) {
        width: 100%;
    }
}
.about__image {
    width: 100%;

    img {
        border-radius: 8px;
    }

    @include breakpoints.mq(tb) {

    }

    @include breakpoints.mq(sp) {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }
}
.about__right {
    width: calc(620 / 1024 * 100%);
    margin-left: auto;

    @include breakpoints.mq(tb) {
        width: calc(60% - 10px);
    }

    @include breakpoints.mq(sp) {
        width: 100%;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }
}
.about-message__title {
    font-size: 28px;
    font-weight: $font-weight-bold;
    line-height: 1.5;

    @include breakpoints.mq(tb) {
        font-size: clamp(1.25rem, -0.251rem + 3.13vw, 1.75rem);
    }

    @include breakpoints.mq(sp) {
        font-size: 18px;
    }
}
.about-message__text {
    margin-top: 40px;
    font-size: 16px;
    line-height: 1.5;

    @include breakpoints.mq(tb) {
        margin-top: clamp(1.25rem, -0.626rem + 3.91vw, 1.875rem);
    }

    @include breakpoints.mq(sp) {
        margin-top: 20px;
        font-size: 14px;
    }
}
.representative-name {
    margin-top: clamp(1.875rem, 0.337rem + 2.4vw, 2.5rem);

    @include breakpoints.mq(tb) {
        margin-top: 30px;
    }

    @include breakpoints.mq(sp) {
        margin-top: 15px;
    }
}
.position {
    font-size: clamp(0.875rem, -0.048rem + 1.44vw, 1.25rem);

    @include breakpoints.mq(tb) {
        font-size: 14px;
    }

    @include breakpoints.mq(sp) {
        font-size: 14px;
    }
}
.name {
    margin-top: 10px;
    margin-left: 50px;
    font-size: clamp(1rem, -0.231rem + 1.92vw, 1.5rem);
    font-weight: $font-weight-bold;

    @include breakpoints.mq(tb) {
        font-size: 16px;
    }

    @include breakpoints.mq(sp) {
        font-size: 16px;
    }
}

/*company-overview*/
.company-overview {
    background-color: color.$main-color;
}
.company-overview__lists {
    width: 650px;
    margin-top: clamp(1.875rem, -2.74rem + 7.21vw, 3.75rem);
    margin-right: auto;
    margin-left: auto;

    @include breakpoints.mq(tb) {
        width: clamp(34.375rem, 15.618rem + 39.08vw, 40.625rem);
        margin-top: 50px;
    }

    @include breakpoints.mq(sp) {
        width: 100%;
        margin-top: 30px;
    }
}
.company-overview__list {
    width: 100%;
    border-collapse: collapse;

    @include breakpoints.mq(sp) {
        text-align: center;
    }
}
.company-overview-list__item {
    display: flex;
    padding-bottom: 20px;
    border-bottom: 1px solid color.$accent-color;
    line-height: 1.5;

    &:not(:first-child) {
        margin-top: 20px;
    }

    th {
        width: clamp(4.375rem, -0.24rem + 7.21vw, 6.25rem);
        margin-left: 20px;
        vertical-align: middle;
        font-weight: $font-weight-regular;
    }

    td {
        width: calc(100% - (clamp(4.375rem, -0.24rem + 7.21vw, 6.25rem) + 50px) );
        margin-left: 50px;
        word-break: keep-all;
    }

    @include breakpoints.mq(tb) {

        th {
            width: 70px;
            vertical-align: middle;
        }

        td {
            display: inline-block;
        }
    }

    @include breakpoints.mq(sp) {
        display: block;
        margin-top: 20px;
        padding-bottom: 20px;
        font-size: 14px;
        text-align: left;

        th {
            display: block;
            width: 100%;
            margin-left: 0;
            vertical-align: middle;
        }

        td {
            display: block;
            width: auto;
            margin-top: 10px;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

/*access*/
.access {

}
.access__contents {
    width: clamp(32.5rem, 7.885rem + 38.46vw, 42.5rem);
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;

    @include breakpoints.mq(tb) {
        width: 100%;
        margin-top: clamp(2.5rem, -1.251rem + 7.82vw, 3.75rem);
    }

    @include breakpoints.mq(sp) {
        width: 100%;
        margin-top: clamp(1.25rem, 0.803rem + 2.23vw, 1.875rem);
    }
}
.access__map {
    width: 100%;
    height: 350px;

    iframe {
        width: 100%;
        height: 100%;
    }

    @include breakpoints.mq(tb) {

    }

    @include breakpoints.mq(sp) {
        height: clamp(9.375rem, 0.444rem + 44.65vw, 21.875rem);
    }
}
.access__info {
    margin-top: 30px;

    @include breakpoints.mq(tb) {
        margin-top: clamp(1.25rem, -0.626rem + 3.91vw, 1.875rem);
    }

    @include breakpoints.mq(sp) {
        margin-top: clamp(0.625rem, 0.178rem + 2.23vw, 1.25rem);
    }
}
.access__address {
    font-size: 20px;

    @include breakpoints.mq(tb) {
        font-size: 16px;
    }

    @include breakpoints.mq(sp) {
        font-size: 16px;
        line-height: 1.5;
    }
}

