@use "color";
@use "breakpoints";

$font-jp: "Noto Sans JP", sans-serif;
$font-en: "Roboto", sans-serif;
$font-logo: "Josefin Sans", sans-serif;

$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;


html, body {
    margin: 0;
    padding: 0;
    scroll-padding-top: 8px;
}
body {
    font-family: $font-jp, $font-en, $font-logo;
    font-size: 16px;
    color: #333;
    line-height: 1.5;
    background-color: #fff;
}

:root {
    scroll-padding: 80px;
    scroll-behavior: smooth;

    @include breakpoints.mq(tb) {
        scroll-padding: 60px;
    }

    @include breakpoints.mq(sp) {
        scroll-padding: 50px;
    }
}
img {
    display: block;
    width: 100%;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    cursor: pointer;
}

.br-tb {
    display: none;

    @include breakpoints.mq(tb) {
        display: block;
    }

    @include breakpoints.mq(sp) {
        display: block;
    }
}
.br-sp {
    display: none;

    @include breakpoints.mq(tb) {
        display: n;
    }

    @include breakpoints.mq(sp) {
        display: block;
    }
}

section {
    width: 100%;
    padding-top: 80px;
    padding-bottom: 80px;

    @include breakpoints.mq(tb) {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    @include breakpoints.mq(sp) {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}
.section-wrap {
    width: clamp(54rem, 29.385rem + 38.46vw, 64rem);
    margin: 0 auto;

    @include breakpoints.mq(tb) {
        width: clamp(38rem, 2.046rem + 74.91vw, 49.938rem);
    }

    @include breakpoints.mq(sp) {
        width: 85%;
    }
}
.section__title {
    display: inline-block;
    position: relative;
    font-size: 40px;
    font-weight: $font-weight-bold;

    &::after {
        display: block;
        content: "";
        position: absolute;
        top: 55%;
        right: -45px;
        transform: translateY(-50%);
        width: 30px;
        height: 5px;
        background-color: color.$accent-color;
        border-radius: 5px;
    }

    @include breakpoints.mq(tb) {
        font-size: clamp(1.75rem, -0.501rem + 4.69vw, 2.5rem);

        &::after {
            width: clamp(1.25rem, -0.626rem + 3.91vw, 1.875rem);
            height: clamp(0.188rem, -0.188rem + 0.78vw, 0.313rem);
            right: -34px;
        }
    }

    @include breakpoints.mq(sp) {
        font-size: clamp(1.25rem, 1.071rem + 0.89vw, 1.5rem);

        &::after {
            width: 20px;
            height: 3px;
            right: -30px;
        }
    }
}
.section__text {
    margin-top: 30px;

    @include breakpoints.mq(tb) {
        font-size: 14px;
    }

    @include breakpoints.mq(sp) {
        margin-top: clamp(1.25rem, 0.803rem + 2.23vw, 1.875rem);
        font-size: 12px;
    }
}
.section__btn {
    text-align: right;
}
.section-btn {
    position: relative;
    color: #333;
    font-size: 20px;
    font-weight: $font-weight-bold;

    &::before {
        position: absolute;
        content: "";
        top: 56%;
        left: -34px;
        transform: translateY(-50%);
        width: 25px;
        height: 25px;
        background-color: color.$base-color;
        border-radius: 50%;
        background-image: url(../img/ボタン.png);
        background-repeat: no-repeat;
        background-size: contain
    }

    &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -4px;
        width: 100%;
        height: 2px;
        background-color: color.$accent-color;
        border-radius: 50px;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s;
    }

    &:hover {

        &::after {
            visibility: visible;
            opacity: 1;
        }
    }

    @include breakpoints.mq(tb) {
        font-size: clamp(1rem, 0.247rem + 1.57vw, 1.25rem);

        &::before {
            width: 20px;
            height: 20px;
            left: -28px;
        }
    }

    @include breakpoints.mq(sp) {
        font-size: 16px;

        &::before {
            width: 20px;
            height: 20px;
            left: -24px;
        }
    }
}

/*header*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 999;

    @include breakpoints.mq(tb) {
        height: 80px;
    }

    @include breakpoints.mq(sp) {
        height: 60px;
    }
}
.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    height: 100%;
    padding-right: 60px;
    padding-left: 60px;

    @include breakpoints.mq(tb) {
        max-width: 100%;
        padding-right: 80px;
        padding-left: 80px;
    }

    @include breakpoints.mq(sp) {
        max-width: 100%;
        padding-right: clamp(0.938rem, -1.964rem + 14.51vw, 5rem);
        padding-left: clamp(0.938rem, -1.964rem + 14.51vw, 5rem);
    }
}
.header-wrap__logo {
    width: 181px;
    margin-top: 10px;

    @include breakpoints.mq(tb) {
        width: 121px;
        margin-top: 20px;
    }

    @include breakpoints.mq(sp) {
        width: clamp(0.75rem, 0.393rem + 1.79vw, 1.25rem);
        margin-top: 12px;
    }
}
.header-wrap-logo {
    display: block;
    color: #333;
    font-family: $font-logo;
    font-size: 36px;
    font-weight: $font-weight-bold;
    line-height: 1;
    text-align: center;
    transition: 0.3s;

    &:hover {
        opacity: 0.7;
    }

    @include breakpoints.mq(tb) {
        font-size: 24px;
    }

    @include breakpoints.mq(sp) {
        font-size: 20px;
    }
}
.header-wrap__nav {
    display: flex;
    margin-top: 5px;

    @include breakpoints.mq(tb) {
        display: none;
    }

    @include breakpoints.mq(sp) {
        display: none;
    }
}
.header-wrap__nav__list {
    display: flex;
    padding: 10px clamp(1.875rem, 1.106rem + 1.2vw, 2.188rem);
    background-color: color.$main-color;
    border-radius: 50px;
}
.header-wrap__nav__list__item {

    &:not(:first-child) {
        margin-left: clamp(0.938rem, -1.37rem + 3.61vw, 1.875rem);
    }

    a {
        position: relative;
        display: inline-block;
        color: #333;
        font-family: $font-en;
        font-weight: $font-weight-bold;

        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -4px;
            width: 100%;
            height: 2px;
            background-color: #333;
            border-radius: 50px;
            opacity: 0;
            visibility: hidden;
            transition: all 0.3s;
        }

        &:hover {

            &::after {
                visibility: visible;
                opacity: 1;
            }
        }
    }
}
.header-wrap__nav__button {
    margin-left: clamp(0.625rem, -7.067rem + 12.02vw, 3.75rem);

    a {
        display: inline-block;
        padding: 10px clamp(1.25rem, -1.058rem + 3.61vw, 2.188rem);
        background-color: color.$accent-color;
        border: 2px solid color.$accent-color;
        border-radius: 50px;
        color: #fff;
        font-family: $font-en;
        font-weight: $font-weight-bold;
        text-align: center;
        transition: all 0.3s;

        &:hover {
            background-color: #fff;
            color: color.$accent-color;
        }
    }
}
.h-open {
    position: absolute;
    top: 0;
    height: 100%;
    cursor: pointer;
    text-align: center;
    z-index: 9999;

    @include breakpoints.mq(pc) {
        display: none;
    }

    @include breakpoints.mq(tb) {
        right: 80px;
        width: 60px;
    }

    @include breakpoints.mq(sp) {
        right: clamp(0.938rem, -1.964rem + 14.51vw, 5rem);
        width: 30px;
    }

    span {
        display: inline-block;
        position: absolute;
        right: 0;
        width: 50px;
        height: 5px;
        border-radius: 50px;
        background-color: color.$accent-color;
        transition: all 0.4s;

        @include breakpoints.mq(tb) {
            height: 4px;

            &:nth-of-type(1) {
                top: 21px;
            }

            &:nth-of-type(2) {
                top: 38px;
            }

            &:nth-of-type(3) {
                top: 55px;
            }
        }

        @include breakpoints.mq(sp) {
            width: 30px;
            height: 3px;

            &:nth-of-type(1) {
                top: 18.5px;
            }

            &:nth-of-type(2) {
                top: 28.5px;
            }

            &:nth-of-type(3) {
                top: 38.5px;
            }
        }
    }

    &.active {

        span {
            background-color: color.$base-color;

            @include breakpoints.mq(tb) {

                &:nth-of-type(1) {
                    top: 23px;
                    left: 11px;
                    transform: translateY(6px) rotate(-45deg);
                }

                &:nth-of-type(2) {
                    opacity: 0;
                }

                &:nth-of-type(3) {
                    top: 36px;
                    left: 11px;
                    transform: translateY(-6px) rotate(45deg);
                }
            }

            @include breakpoints.mq(sp) {

                &:nth-of-type(1) {
                    top: 23px;
                    left: 11px;
                    transform: translateY(6px) rotate(-45deg);
                }

                &:nth-of-type(2) {
                    opacity: 0;
                }

                &:nth-of-type(3) {
                    top: 36px;
                    left: 11px;
                    transform: translateY(-6px) rotate(45deg);
                }
            }
        }
    }
}
#h-nav {
    position: fixed;
    z-index: 999;
    top: 0;
    right: -120%;
    width: 100%;
    height: 100%;
    background-color: color.$accent-color;
    transition: all 0.6s;


    &.panelactive {
        right: 0;
    }

    @include breakpoints.mq(pc) {
        display: none;
    }
}
.h-nav__logo {
    display: block;
    color: color.$base-color;
    font-family: $font-logo;
    font-size: 24px;
    font-weight: $font-weight-bold;
    text-align: center;

    @include breakpoints.mq(tb) {
        width: 120px;
        margin: 50px auto 0;
    }

    @include breakpoints.mq(sp) {
        width: clamp(6.313rem, 5.464rem + 4.24vw, 7.5rem);
        margin: 60px auto 0;
        font-size: clamp(1.25rem, 1.071rem + 0.89vw, 1.5rem);
    }
}
#h-nav__list {
    position: relative;
    height: 200px;
    margin-top: 40px;

    ul {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 999;
        transform: translateY(-50%) translateX(-50%);
    }

    li {
        text-align: center;

        &:not(:first-child) {
            margin-top: 20px;
        }

        a {
            position: relative;
            display: block;
            width: 100%;
            color: #fff;
            font-size: 16px;
            font-weight: $font-weight-bold;

            &::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: -2px;
                width: 100%;
                height: 2px;
                background-color: #fff;
                border-radius: 50px;
                opacity: 0;
                visibility: hidden;
                transition: all 0.3s;
            }

            &:hover {

                &::after {
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
    }

    @include breakpoints.mq(sp) {
        height: clamp(9.375rem, 7.142rem + 11.16vw, 12.5rem);
        margin-top: clamp(1.25rem, 0.357rem + 4.47vw, 2.5rem);

        li {

            &:not(:first-child) {
                margin-top: clamp(0.625rem, 0.178rem + 2.23vw, 1.25rem);
            }
        }
    }
}
.h-nav__button {
    margin-top: 40px;
    text-align: center;

    a {
        display: inline-block;
        padding: 10px 25px;
        background-color: #fff;
        border: 2px solid #fff;
        border-radius: 50px;
        color: color.$accent-color;
        font-family: $font-en;
        font-size: 16px;
        font-weight: $font-weight-bold;
        text-align: center;
        transition: all 0.3s;

        &:hover {
            background-color: color.$accent-color;
            color: #333;
        }
    }

    @include breakpoints.mq(sp) {
        margin-top: clamp(1.875rem, 1.428rem + 2.23vw, 2.5rem);
    }
}

/*cta*/
.cta {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: color.$accent-color;
    text-align: center;

    @include breakpoints.mq(tb) {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    @include breakpoints.mq(sp) {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}
.cta__message {
    color: #fff;
    font-size: 28px;
    font-weight: $font-weight-bold;

    @include breakpoints.mq(tb) {
        font-size: 24px;
    }

    @include breakpoints.mq(sp) {
        font-size: 16px;
    }
}
.cta__btn {
    margin-top: 30px;
    text-align: center;

    a {
        display: inline-block;
        padding: 10px 35px;
        background-color: #fff;
        border: 2px solid #fff;
        border-radius: 50px;
        color: color.$accent-color;
        font-family: $font-en;
        font-size: 20px;
        font-weight: $font-weight-bold;
        text-align: center;
        transition: all 0.3s;

        &:hover {
            background-color: color.$accent-color;
            color: #fff;
        }
    }

    @include breakpoints.mq(tb) {
        margin-top: 20px;

        a {
            padding: 10px 25px;
            font-size: 16px;
        }
    }

    @include breakpoints.mq(sp) {
        margin-top: 15px;

        a {
            padding: 6px clamp(0.938rem, 0.491rem + 2.23vw, 1.563rem);
            font-size: 12px;
        }
    }
}

/*footer*/
.footer {
    padding-top: 80px;
    border-top: 1px solid #333;

    @include breakpoints.mq(tb) {
        padding-top: 30px;
    }

    @include breakpoints.mq(sp) {
        padding-top: 30px;
    }
}
.footer-wrap {
    display: flex;
    width: clamp(54rem, 29.385rem + 38.46vw, 64rem);
    margin: 0 auto;

    @include breakpoints.mq(tb) {
        display: block;
        width: clamp(38rem, 2.046rem + 74.91vw, 49.938rem);
    }

    @include breakpoints.mq(sp) {
        display: block;
        width: 85%;
    }
}
.footer__logo {
    width: 181px;

    @include breakpoints.mq(tb) {
        width: 121px;
        margin-right: auto;
        margin-left: auto;
    }

    @include breakpoints.mq(sp) {
        width: 101px;
        margin-right: auto;
        margin-left: auto;
    }
}
.footer-logo {
    display: block;
    color: #333;
    font-family: $font-logo;
    font-size: 32px;
    font-weight: $font-weight-bold;
    line-height: 1;
    text-align: center;
    transition: 0.3s;

    &:hover {
        opacity: 0.7;
    }

    @include breakpoints.mq(tb) {
        font-size: 24px;
    }

    @include breakpoints.mq(sp) {
        font-size: 20px;
    }
}
.footer__nav {
    margin-left: auto;

    @include breakpoints.mq(tb) {
        width: 146px;
        margin-top: 25px;
        margin-right: auto;
    }

    @include breakpoints.mq(sp) {
        width: 98px;
        margin-top: 20px;
        margin-right: auto;
    }
}
.footer__links {
    display: flex;
    gap: clamp(0.938rem, -1.37rem + 3.61vw, 1.875rem);

    @include breakpoints.mq(tb) {
        display: block;
    }

    @include breakpoints.mq(sp) {
        display: block;
    }
}
.footer__link {
    margin-top: 14px;

    a {
        position: relative;
        display: inline-block;
        color: #333;
        font-weight: $font-weight-bold;

        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -4px;
            width: 100%;
            height: 2px;
            background-color: #333;
            border-radius: 50px;
            opacity: 0;
            visibility: hidden;
            transition: all 0.3s;
        }

        &:hover {

            &::after {
                visibility: visible;
                opacity: 1;
            }
        }
    }

    @include breakpoints.mq(tb) {
        text-align: center;

        &:not(:first-child) {
                margin-top: 10px;
            }

        a {

        }
    }

    @include breakpoints.mq(sp) {
        text-align: center;

        a {
            font-size: 14px;
        }

        &:not(:first-child) {
                margin-top: 10px;
            }
    }
}
.footer__link-btn {
    margin-top: 2px;
    margin-left: 20px;

    a {
        display: inline-block;
        padding: 10px clamp(1.25rem, -1.058rem + 3.61vw, 2.188rem);
        background-color: color.$accent-color;
        border: 2px solid color.$accent-color;
        border-radius: 50px;
        color: #fff;
        font-family: $font-en;
        font-weight: $font-weight-bold;
        text-align: center;
        transition: all 0.3s;

        &:hover {
            background-color: #fff;
            color: color.$accent-color;
        }
    }

    @include breakpoints.mq(tb) {
        margin-top: 20px;
        margin-right: auto;
        margin-left: auto;
        text-align: center;

        a {
            font-size: 14px;
            padding: 8px 25px;
        }
    }

    @include breakpoints.mq(sp) {
        margin-top: 20px;
        margin-right: auto;
        margin-left: auto;
        text-align: center;

        a {
            padding: 6px 14px;
            font-size: 12px;
        }
    }
}
.footer-copyright {
    margin-top: 80px;
    padding-top: 18px;
    padding-bottom: 18px;
    background-color: color.$main-color;
    text-align: center;
    font-size: 12px;

    @include breakpoints.mq(tb) {
        margin-top: 30px;
        padding-top: 18px;
        padding-bottom: 18px;
    }

    @include breakpoints.mq(sp) {
        margin-top: 35px;
        padding-top: 18px;
        padding-bottom: 18px;
    }
}