@use "color";
@use "breakpoints";

$font-jp: "Noto Sans JP", sans-serif;
$font-en: "Roboto", sans-serif;

$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;


html,
body {
  margin: 0;
  padding: 0;
  scroll-padding-top: 8px;
}

body {
  font-family: $font-jp, $font-en;
  font-size: 16px;
  color: #333;
  line-height: 1.5;
  background-color: #fff;
}

img {
  display: block;
  width: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/*top*/
.top {
  width: 100%;
  margin-top: 100px;
  padding-top: clamp(5rem, 1.923rem + 4.81vw, 6.25rem);
  padding-bottom: clamp(5rem, 1.923rem + 4.81vw, 6.25rem);
  background-color: color.$main-color;
  text-align: center;

  @include breakpoints.mq(tb) {
    margin-top: 80px;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @include breakpoints.mq(sp) {
    margin-top: 60px;
    padding-top: clamp(2.5rem, 1.607rem + 4.47vw, 3.75rem);
    padding-bottom: clamp(2.5rem, 1.607rem + 4.47vw, 3.75rem);
  }
}
h2 {
  color: color.$accent-color;
  font-size: 48px;
  font-weight: $font-weight-bold;

  @include breakpoints.mq(tb) {
    font-size: clamp(2rem, 1.25rem + 1.56vw, 2.25rem);
  }

  @include breakpoints.mq(sp) {
    font-size: clamp(1.75rem, 1.571rem + 0.89vw, 2rem);
  }
}
.top__message {
  margin-top: clamp(1.25rem, -0.288rem + 2.4vw, 1.875rem);
  font-size: clamp(1rem, -0.231rem + 1.92vw, 1.5rem);

  @include breakpoints.mq(tb) {
    margin-top: 20px;
    font-size: 16px;
  }

  @include breakpoints.mq(sp) {
    margin-top: clamp(0.625rem, 0.178rem + 2.23vw, 1.25rem);
    font-size: clamp(0.75rem, 0.571rem + 0.89vw, 1rem);
  }
}

/*breadcrumb*/
.breadcrumb {
  width: 100%;
  margin: 0 auto;
  padding-top: clamp(0.938rem, -1.37rem + 3.61vw, 1.875rem);
  padding-bottom: clamp(0.938rem, -1.37rem + 3.61vw, 1.875rem);

  @include breakpoints.mq(tb) {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  @include breakpoints.mq(sp) {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
.breadcrumb-wrapper {
  width: clamp(54rem, 34rem + 33.33vw, 64rem);
  margin: 0 auto;

  @include breakpoints.mq(tb) {
    width: clamp(38rem, -10rem + 100vw, 49.938rem);
  }

  @include breakpoints.mq(sp) {
    width: calc(100% - 15px * 2);
    padding-right: 15px;
    padding-left: 15px;
  }
}
.breadcrumb-wrapper__list {
  display: flex;
}
.breadcrumb-wrapper__list__item {
  padding-right: 10px;

  &::after {
    display: inline-block;
  content: "";
  width: 12px;
  height: 12px;
  margin-left: 10px;
  background-image: url(../img/パンくず.png);
  background-repeat: no-repeat;
  background-size: contain;
  }

  &:last-child {
    padding-right: 0;

    &::after {
      display: none;
    }
  }

  a {
      color: #333;
      font-size: 16px;
  }

  @include breakpoints.mq(tb) {

    &::after {
      width: 8px;
      height: 8px;
    }


    a {
      font-size: 14px;
    }
  }

  @include breakpoints.mq(sp) {

    &::after {
      width: 8px;
      height: 8px;
      margin-left: 5px;
      margin-bottom: 1px;
    }

    a {
      font-size: 12px;
    }
  }
}
.b-color {
  color: color.$accent-color;
  font-weight: $font-weight-bold;
}

.section__title {
  display: inline-block;
  position: relative;
  font-size: 40px;
  font-weight: $font-weight-bold;

  &::after {
    display: block;
    content: "";
    position: absolute;
    top: 55%;
    right: -45px;
    transform: translateY(-50%);
    width: 30px;
    height: 5px;
    background-color: color.$accent-color;
    border-radius: 5px;
  }

  @include breakpoints.mq(tb) {
    font-size: clamp(1.75rem, -0.501rem + 4.69vw, 2.5rem);

    &::after {
      width: clamp(1.25rem, -0.626rem + 3.91vw, 1.875rem);
      height: clamp(0.188rem, -0.188rem + 0.78vw, 0.313rem);
      right: -34px;
    }
  }

  @include breakpoints.mq(sp) {
    font-size: clamp(1.25rem, 1.071rem + 0.89vw, 1.5rem);

    &::after {
      width: 20px;
      height: 3px;
      right: -30px;
    }
  }
}
.top__message {

  @include breakpoints.mq(sp) {
    width: 251px;
    margin-right: auto;
    margin-left: auto;
  }
}
