@use "color";
@use "breakpoints";

$font-jp: "Noto Sans JP", sans-serif;
$font-en: "Roboto", sans-serif;
$font-logo: "Josefin Sans", sans-serif;

$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;

/*contact*/
.contact {

}
.contact__contents {
    margin-top: 50px;

    @include breakpoints.mq(tb) {
        margin-top: 40px;
    }

    @include breakpoints.mq(sp) {
        margin-top: 30px;
    }
}
.contact__text {
    display: block;
    text-align: center;

    @include breakpoints.mq(sp) {
        font-size: 14px;
        text-align: left;
    }
}
.contact__form {
    width: calc(780px - 80px * 2);
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    padding: 30px 80px 50px;
    background-color: #fff;
    box-shadow: 0 4px 4px 0 rgba(0, 10, 10, 0.3);

    @include breakpoints.mq(tb) {
        width: calc(100% - 40px * 2);
        margin-top: 40px;
        padding: 30px 40px;
    }

    @include breakpoints.mq(sp) {
        width: calc(100% - 10px * 2);
        margin-top: clamp(1.25rem, 0.357rem + 4.47vw, 2.5rem);
        padding: 20px 10px;
    }
}
.contact-form {
    position: relative;
}
.contact-form__row {
    display: flex;
    width: 100%;

    &:not(:first-child) {
        margin-top: 25px;
    }

    @include breakpoints.mq(tb) {
        width: 100%;

        &:not(:first-child) {
            margin-top: 20px;
        }
    }

    @include breakpoints.mq(sp) {
        display: block;
        width: 100%;
        margin-right: auto;
        margin-left: auto;

        &:not(:first-child) {
            margin-top: 20px;
        }
    }
}
.contact-form__label {
    width: 210px;
    padding-top: 13px;

    label {
        font-size: 16px;

        &.is-required {
            display: inline-block;
            position: relative;

            &::after {
                content: "必須";
                position: absolute;
                top: 50%;
                right: -25px;
                transform: translateY(-50%);
                width: 20px;
                height: 12px;
                color: red;
                font-size: 10px;
                font-weight: $font-weight-bold;
                text-align: center;
            }
        }
    }

    @include breakpoints.mq(tb) {
        width: 194px;
        padding-top: 3px;

        label {
            font-size: 16px;

            &.is-required {}

            &::after {
                right: -12px;
                width: 8px;
                font-size: 14px;
            }
        }
    }

    @include breakpoints.mq(sp) {
        width: 100%;
        padding-top: 0;

        label {
            font-size: 16px;

            &.is-required {
                display: inline-block;
                position: relative;
            }

            &::after {}
        }
    }
}
.contact-form__input {
    width: calc(400px - 25px * 2);

    [type="text"],
    [type="email"],
    [type="tel"] {
        width: calc(400px - 25px * 2);
        padding: 13px 25px;
        border: solid 1px #bcbcbc;
        appearance: 0;
        color: #a4a4a4;
        font-size: 16px;
    }

    [type="text"] {}

    [type="email"] {}

    [type="tel"] {}

    @include breakpoints.mq(tb) {
        width: calc(100% - 194px);

        [type="text"],
        [type="email"],
        [type="tel"] {
            width: calc(100% - 25px * 2);
            padding: 13px 25px;
            appearance: 0;
            color: #808080;
            font-size: 16px;
        }
    }

    @include breakpoints.mq(sp) {
        width: 100%;

        [type="text"],
        [type="email"],
        [type="tel"] {
            width: calc(100% - 10px * 2);
            height: calc(100% - 13px * 2);
            margin-top: 10px;
            padding: 13px 10px;
            appearance: 0;
            color: #808080;
            font-size: 14px;
        }
    }
}
.contact-form__input-textarea {
    width: calc(400px - 25px * 2);

    @include breakpoints.mq(tb) {
        width: calc(100% - 194px);
    }

    @include breakpoints.mq(sp) {
        width: 100%;
    }
}
.contact-form-select {
    position: relative;
    width: 250px;

    &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
        width: 15px;
        height: 15px;
        background-image: url(../img/矢印アイコン\　下4.png);
        background-size: contain;
        background-repeat: no-repeat;
    }

    @include breakpoints.mq(sp) {
        margin-top: 10px;
        margin-left: 0;
    }
}
select {
    position: relative;
    width: 250px;
    height: 45px;
    padding-left: 25px;
    border: solid 1px #bcbcbc;
    appearance: none;
    font-size: 16px;
    color: #a4a4a4;

    &::-ms-expand {
        display: none;
    }

    @include breakpoints.mq(tb) {
        display: inline-block;
        height: auto;
        padding: 5px;
    }

    @include breakpoints.mq(sp) {
        display: inline-block;
        margin-left: 0;
        height: auto;
        padding: 10px 5px;
    }
}
option {

}
textarea {
    width: 100%;
    height: 150px;
    margin-left: auto;
    resize: none;
    padding: 13px 25px;
    appearance: 0;
    border: solid 1px #bcbcbc;
    color: #a4a4a4;
    font-size: 14px;

    @include breakpoints.mq(tb) {
        width: calc(100% - 25px * 2);
        margin-top: 10px;
    }

    @include breakpoints.mq(sp) {
        width: calc(100% - 10px * 2);
        margin-top: 10px;
        padding: 13px 10px;
    }
}
.contact__btn {
    margin-top: 50px;
    text-align: center;

    [type="submit"] {
        display: inline-block;
        padding: 15px 40px;
        background-color: color.$accent-color;
        border: 2px solid color.$accent-color;
        border-radius: 50px;
        color: #fff;
        font-family: $font-en;
        font-size: 20px;
        font-weight: $font-weight-bold;
        text-align: center;
        transition: all 0.3s;
        cursor: pointer;

        &:hover {
            background-color: #fff;
            color: color.$accent-color;
        }
    }

    @include breakpoints.mq(tb) {
        margin-top: 30px;
    }

    @include breakpoints.mq(sp) {
        margin-top: 30px;

        [type="submit"] {
            padding: clamp(0.625rem, 0.402rem + 1.12vw, 0.938rem) 30px;
            font-size: clamp(0.75rem, 0.571rem + 0.89vw, 1rem);
        }
    }
}