@use "color";
@use "breakpoints";

$font-jp: "Noto Sans JP", sans-serif;
$font-en: "Roboto", sans-serif;
$font-logo: "Josefin Sans", sans-serif;

$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;

/*works*/
.works {

}
.works-wrap {

}
.works__items {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    @include breakpoints.mq(tb) {
    }

    @include breakpoints.mq(sp) {
        display: block;
    }
}
.works__item {
    width: calc((100% - 30px * 2) / 3);
    border-radius: 8px;
    box-shadow: 0 10px 10px -6px rgba(#000000, 0.3);
    background-color: color.$base-color;

    @include breakpoints.mq(tb) {
        width: calc((100% - 30px) / 2);
    }

    @include breakpoints.mq(sp) {
        width: 100%;

        &:not(:first-child) {
            margin-top: 20px;
        }
    }
}

.works-item__link {}

.works-item__image {
    width: 100%;
    height: 200px;
    border-radius: 8px;

    img {
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 8px;
        object-fit: cover;
    }

    @include breakpoints.mq(tb) {}

    @include breakpoints.mq(sp) {
        aspect-ratio: 29 / 15;
    }
}

.works-item__contents {
    padding: 15px 10px;

    @include breakpoints.mq(tb) {
        padding: 15px;
    }

    @include breakpoints.mq(sp) {
        padding: 10px;
    }
}
.works-item__contents {
    padding: 10px 10px 15px;

    @include breakpoints.mq(tb) {
        padding: 15px;
    }

    @include breakpoints.mq(sp) {
        padding: 10px;
    }
}
.works-item__tag {
    display: inline-block;
    padding: 4px 8px;
    background-color: color.$accent-color;
    border-radius: 8px;
    color: #fff;
    font-size: 12px;
    line-height: 1;

    @include breakpoints.mq(tb) {}

    @include breakpoints.mq(sp) {
        font-size: 10px;
    }
}
.works-item__title {
    margin-top: 10px;
    color: #333;
    font-size: 16px;
    font-weight: $font-weight-bold;

    @include breakpoints.mq(tb) {}

    @include breakpoints.mq(sp) {}
}
.works__btn {
    margin-top: 60px;

    @include breakpoints.mq(tb) {
        margin-top: clamp(1.875rem, -3.752rem + 11.72vw, 3.75rem);
    }
}
.works__num {
    display: flex;
    justify-content: center;
    margin-top: 60px;

    @include breakpoints.mq(tb) {
        margin-top: 30px;
    }

    @include breakpoints.mq(sp) {
        margin-top: 30px;
    }
}

.works-num__item {
    display: block;
    height: 20px;

        &:not(:first-child) {
                margin-left: 20px;
            }

    a {
        position: relative;
        display: block;
        text-align: center;
        color: #333;
        font-size: 20px;
        text-align: center;
        transition: all 0.3s;


        &:hover {
            color: color.$accent-color;
        }
    }

    @include breakpoints.mq(tb) {
        height: 20px;

        a {
            height: 20px;
        }
    }

    @include breakpoints.mq(sp) {
        height: 14px;

        &:not(:first-child) {
                margin-left: 15px;
            }

        a {
            height: 14px;
            font-size: 14px;
        }
    }
}

.works-num__item-arrow {
    height: 20px;
    margin-top: 6px;

    &:last-child {
        margin-left: 20px;
    }

    a {
        position: relative;
        display: inline-block;
        width: 20px;
        height: 20px;
        opacity: 0.8;
        text-align: center;

        img {
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 20px;
            height: 20px;
            object-fit: cover;
        }
    }

    @include breakpoints.mq(tb) {
        margin-top: 6px;

        a {

            img {
            }
        }
    }

    @include breakpoints.mq(sp) {
        height: 14px;
        margin-top: 0;

        a {
            width: 14px;
            height: 14px;

            img {
                width: 14px;
                height: 14px;
            }
        }
    }
}